<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">
    <Appenders/>
    <Loggers>
        <Root level="OFF">
            <AppenderRef ref="SysOut" level="ALL"/>
            <AppenderRef ref="DebugFile" level="ALL"/>
            <AppenderRef ref="LatestFile" level="INFO"/>
            <AppenderRef ref="ServerGuiConsole" level="INFO"/>
        </Root>
        <Logger name="org.mcaccess.minecraftaccess" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.compat" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.access_menu" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.AutoLibrarySetup" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.BiomeIndicator" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.CameraControls" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.FallDetector" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.HUDStatus" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.inventory_controls" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.MenuFix" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.MouseSimulation" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.narrate_crosshair  " level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.NarrateHeldItem" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.PlayerStatus" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.PlayerWarnings" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.point_of_interest" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.PositionNarrator" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.features.XPIndicator" level="DEBUG"/>
        <Logger name="org.mcaccess.minecraftaccess.mixin" level="DEBUG"/>
    </Loggers>
</Configuration>
